@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;600;700;800&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

html {
  font-size: 62.5%; /*1rem = 10px*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: black;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*   T H E M E   */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /*--bg-color: #ffffff;*/
  --heading-color: #000a19;
  --para-color: #504e4d;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --bg-color: #f7fcff;
  --footer-bg-color: #040d12;
}

/*   L A Y O U T   */

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

.grid {
  display: grid;
  gap: 1.6rem;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.border-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #f7fcff;
}

.card-content {
  padding: 3.2rem 1.6rem;
  gap: 1.6rem;
}

.hits {
  background-color: gold;
}

.nonhits {
  background-color: rgb(93, 243, 93);
}

.rating {
  padding: 0.3rem 1.8rem;
  font-weight: 600;
  color: #000;
  margin-left: 1.2rem;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}